<p id="notice"><%= notice %></p>

<h1>Alunoprofessors</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Professor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunoprofessors.each do |alunoprofessor| %>
      <tr>
        <td><%= alunoprofessor.aluno_id %></td>
        <td><%= alunoprofessor.professor_id %></td>
        <td><%= link_to 'Show', alunoprofessor %></td>
        <td><%= link_to 'Edit', edit_alunoprofessor_path(alunoprofessor) %></td>
        <td><%= link_to 'Destroy', alunoprofessor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alunoprofessor', new_alunoprofessor_path %>
