<%= form_for(escola) do |f| %>
  <% if escola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(escola.errors.count, "error") %> prohibited this escola from being saved:</h2>

      <ul>
      <% escola.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :sobre %>
    <%= f.text_area :sobre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
